@use "./reset";
@use "./typography.scss";
@use "./variables" as *;
@use "./mixins" as *;

html {
    scroll-behavior: smooth;
}

body {
    background: $color-bg-l1;
    color: $color-text-d2;
}

section {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
