// COLORS
$color-accent: #2563eb;

$color-text: #111111;
$color-text-light: #666666;

$color-bg: #ffffff;
$color-bg-alt: #f7f7f7;
$color-bg-header: #f7f9fbe6;
$color-bg-header-noblur: #f7f9fb;

$border: rgba(0, 0, 0, 0.04);

$color-whatsapp: #25d366;

// FONTS
$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);
