@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.header {
    position: sticky;
    top: 0;
    z-index: 50;

    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: $color-bg-header;
    backdrop-filter: blur(12px);

    transition: all 0.3s ease;
    font-family: $font-primary;
    border-bottom: 1px solid #f3f4f6;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.05);
}

/* ============================================
   CONTAINER
   ============================================ */

.uiDesktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ============================================
   BRAND / LOGO
   ============================================ */

.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    transition: all 0.3s ease;
}

.logo:hover {
    opacity: 0.8;
}

.logoImg {
    width: 2rem;
    height: auto;
    object-fit: contain;
}

.logoTitle {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    color: $color-text-d1;
}

@media (max-width: 768px) {
    .logo:hover {
        opacity: 1;
    }
}

/* ============================================
   NAV DESKTOP
   ============================================ */

.navDesktop {
    display: none;

    @media (min-width: 768px) {
        display: flex;
    }
}

.navDesktopUl {
    display: flex;
    gap: 1.3rem;

    @media (min-width: 900px) {
        gap: 2rem;
    }
}

.navLink {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -0.015em;
    color: $color-text-d2;
    font-family: $font-secondary;

    position: relative;
    transition: all 0.3s ease;

    &:hover {
        color: $color-accent;
    }

    @media (min-width: 768px) {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background: $color-accent;
            transition: width 0.25s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
    @media (max-width: 900px) {
        font-size: 0.9rem;
    }
}

/* ============================================
   HEADER BUTTONS
   ============================================ */

.headerBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

// Phone BUTTON
.phoneBtn {
    @include flex-center;
    gap: 0.5rem;
    background-color: $color-accent; // sostituisci con il tuo $accent-red
    color: $color-text-l1;
    font-family: $font-secondary;
    padding: 0.625rem;
    border-radius: 0.75rem;
    font-weight: 700;
    text-decoration: none;
    transition:
        background-color 0.2s ease,
        opacity 0.2s ease;

    &:hover {
        opacity: 0.9;
    }

    .text {
        display: none;

        @media (min-width: 768px) {
            display: inline;
        }
    }

    @media (min-width: 768px) {
        padding: 0.625rem 1.5rem;
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
        flex-shrink: 0;
    }
}

// HAMBURGER BUTTON

.burgerBtn {
    @include flex-center;
    padding: 8px;
    border: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 768px) {
    .burgerBtn {
        display: none;
    }
}

.burgerBtnIcon {
    background-color: $color-text-d1;
    height: 2px;
    width: 22px;
    display: block;
    position: relative;
    transition: background-color 0.03s ease-out;
}

.burgerBtnIcon::before,
.burgerBtnIcon::after {
    content: "";
    background-color: $color-text-d1;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.1s ease-out;
}

.burgerBtnIcon::before {
    top: 7px;
}
.burgerBtnIcon::after {
    top: -7px;
}

.open .burgerBtnIcon {
    background-color: transparent;
}

.open .burgerBtnIcon::before {
    top: 0;
    transform: rotate(-45deg);
}

.open .burgerBtnIcon::after {
    top: 0;
    transform: rotate(45deg);
}

/* ============================================
   NAV MOBILE
   ============================================ */

.navMobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $color-bg-l1;

    transition: all 0.25s ease;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;

    &.open {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }

    @media (min-width: 768px) {
        display: none !important;
    }
}

.navMobile .navLink {
    display: block;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid $border;
    transition: all 0.2s ease;

    &:hover {
        color: $color-accent;
    }
}
