@use "../../../styles/variables.scss" as *;

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 $container-lat-space;

    @media (min-width: 768px) {
        padding: 0 $container-lat-space-xl;
    }
}
