@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

/* ============================================
   CONTAINER
   ============================================ */

.footer {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    color: $color-text-l3;
    background-color: $color-bg-d2;
}

/* ============================================
   Col Brand
   ============================================ */

.brand {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .brandHeader {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        .brandImgWrapper {
            height: 60px;
            width: 60px;
            border-radius: 9999px;
            overflow: hidden;

            .brandImg {
                object-fit: cover;
                object-position: center 15%;
            }
        }

        .brandName {
            font-size: 24px;
            font-family: $font-primary;
            color: $color-text-l1;
            font-style: italic;
            font-weight: 700;
        }
    }

    .brandDesc {
        font-size: 14px;
    }

    .socials {
        display: flex;
        gap: 1rem;

        .social {
            .icon {
                // width: 40px;
                // height: 40px;
                color: $color-text-l3;
            }
        }
    }
}

/* ============================================
   Col Navigation
   ============================================ */

/* ============================================
   Col Contact
   ============================================ */

/* ============================================
   Col Orari
   ============================================ */

/* ============================================
   Bottom Bar
   ============================================ */
